
<meta name="viewport" content="width=device-width,initial-scale=1"/>

<div class="header">
        <img src ='assets/imges/header.jpg' />
    <ul>
            <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/login">login</a></li>
        <li><a routerLink="/signup">signup</a> </li>
        <li><a routerLink="/products">products</a></li>
        <li><a routerLink="/profil">profil</a></li>
        <li><a routerLink="/contactUs">contact_us</a></li>


    </ul>
</div>
<div class="space"></div>

<router-outlet></router-outlet>

<div class="footer"> 
    

        <p> &copy; All right reserved to Store owner Eng: Hanan Mohammed  inc 2019 </p>
          <div class = "social_div">
              <img src ="assets/imges/icons/icons8-facebook-neu-48.png"  width= "50" height ="50" />
             <img src ="assets/imges/icons/icons8-gmail-48.png"  width= "50" height ="50" />
             <img src ="assets/imges/icons/icons8-twitter-48.png"  width= "50" height ="50" />
             
             <img src ="assets/imges/icons/icons8-whatsapp-48.png"  width= "50" height ="50" />
             <img src ="assets/imges/icons/icons8-yahoo-48.png"  width= "50" height ="50" />
          </div>
            <!--  end of footer -->
    </div>